<!DOCTYPE html>
<html lang="en">
<style>
  table {
    width: 70%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }

  th,
  td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Page</title>
</head>

<body>
  <h1>일정 관리</h1>
  <a href="/insert">일정 추가</a>
  <hr />
  <table border="1">
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>날짜</th>
      <th>수정</th>
      <th>삭제</th>
    </tr>
    <% data.forEach(function(obj) { %>
      <tr>
        <td>
          <%= obj['title'] %>
        </td>
        <td>
          <%= obj['content'] %>
        </td>
        <td>
          <%= obj['date'] %>
        </td>
        <td><a href="/edit/<%= obj['id'] %>">EDIT</a></td>
        <td><a href="/delete/<%= obj['id']%>">DELETE</a></td>
      </tr>
      <% }); %>
  </table>
</body>

</html>